<%- include('partials/header') -%>
<html>
<style>
    body{
 background-image: url("https://static.wixstatic.com/media/ee5f36_a4ad3d1c244447b4aa2ceda1f61369b4~mv2.png/v1/fill/w_1248,h_685,fp_0.50_0.50/ee5f36_a4ad3d1c244447b4aa2ceda1f61369b4~mv2.png");
    background-repeat: no-repeat;
    background-size: cover;
    }
    .cont{
        padding-left: 40px;
    }
</style>
<body>
<div class="container mt-5">
 
    <h1 style="color: rgb(238, 97, 97);text-align: center;">ANALYTICS </h1>
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2); align-self:right;" width="550" height="500" src="https://charts.mongodb.com/charts-project-0-eugsf/embed/charts?id=35f2c6bc-c1c0-4d71-aac9-03f779fdd509&theme=light"></iframe>
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="550" height="500" src="https://charts.mongodb.com/charts-project-0-eugsf/embed/charts?id=8f4471a2-f4a6-457d-ae00-98fedfd15806&theme=light"></iframe>
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width=100% height="600" src="https://charts.mongodb.com/charts-project-0-eugsf/embed/charts?id=d50c2174-93d5-4a10-ab21-e1f3ec6aafe7&theme=light"></iframe>
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width=100% height="480" src="https://charts.mongodb.com/charts-project-0-eugsf/embed/charts?id=b142a645-078b-4b41-965b-40f46cd77f6f&theme=light"></iframe>
</body>

</html>