<%- include('partials/header') -%>
<style>
    body{
 background-image: url("https://static.wixstatic.com/media/ee5f36_0110f5d09c4a43c39a280cb4ca82f552~mv2.png/v1/fill/w_2304,h_1149,fp_0.50_0.50/ee5f36_0110f5d09c4a43c39a280cb4ca82f552~mv2.png");
    background-repeat: no-repeat;
    background-size: cover;
    }
    .button {
  background-color: white;
  color: rgb(240, 47, 47);
  border: 1px solid rgb(240, 47, 47);
  border-radius: 5px;
  padding: 8px;

}
.button:hover{
    background-color:rgb(240, 47, 47);
  color: white;
  border: 1px solid rgb(240, 47, 47);
  text-decoration: none;
  border-radius: 5px;
  padding: 8px; 
}
.loc1{
    padding-left: 950px;
    padding-top: 750px;

}
</style>
<body>
    <div class="loc1">
    <a class="button" href="/">Get Started </a></div>

    </body>

    <%- include('partials/footer') -%>